
<div class="form-page-wrap">
<h2>Add Items for Hire</h2>
<form method="POST" action="/hire-stock">
  <div class="form-wrapper">

    <div class="form-element">
      <label for="name">Name</label>
      <input type="text" name="name" id="first_name"/>
    </div>

    <div class="form-element">
      <label for="price">Price</label>
      <input type="number" name="price" id="price">
    </div>

    <div class="form-element">
      <input type="submit" value="Submit">
    </div>

  </div>
</form>
</div>
