
<div class="hire-stock-page">

  <h2><%= @hireItem.name %></h2>

  <p>£ <%= @hireItem.price %></p>


   <form method="POST" action="/hire-stock/<%= @hireItem.id %>/delete">
      <input type="submit" value="Delete Item"/>
    </form>

</div>
