
<div id="hire-stock">

  <h2>Hire Stock</h2>

    <% @hire_stock.each do |hire_item| %>
    <div class="hire-item">
    <p>Hire Item: <%= hire_item.name %></p>
    <p>Price per day<%= hire_item.price %></p>
    <% end %>
    </div>  <!-- Hire-item -->

</div>
