<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Edinburgh Sound</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
  </head>
    <div id="top-bar-wrapper">
    <h1 class="main-heading"><a href="/hire-orders">Edinburgh Sound</a></h1>
  <nav>
    <ul>
      <li><a href="/hire-orders">Hire Orders</a></li>
        <li><a href="/hire-stock">Hire Stock</a></li>
      <li><a href="/customers">Customers</a></li>
    </ul>
  </nav>
  </div>

  <body>


    <%= yield %>

  </body>

</html>
