body {
  font-family: sans-serif;
  color: black;
  background-image: url(test.jpg);
  background-repeat: no-repeat;
  height: 500px;
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
  margin: 0px;
}

body p {
  font-size: 18px;
}

div#top-bar-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #3b3f45;
  color: white;
}

.main-heading {
  display: inline;
  margin-left: 29px;
}

.main-heading a {
  text-align: center;
  font-size: 70px;
  text-decoration: none;
  color: white;
  font-family: "Anton", sans-serif;
  letter-spacing: 5px;
}

div#top-bar-wrapper nav {
  display: flex;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li a {
  text-decoration: none;
  display: inline;
  color: inherit;
}

nav ul li a:hover {
  text-decoration: underline;
}

.secondary-nav li a {
  font-size: 25px;
}

.secondary-nav li {
  width: 329px;
  border: 1px solid black;
}

nav ul li {
  display: inline;
  padding: 10px 12px;
  margin: 14px 1%;
  border-radius: 5px;
  font-size: 32px;
  text-align: center;
  width: 200px;
}

.main-content-container {
  margin: 0 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

button.edit-button {
  background-color: #259238;
  color: white;
  width: 135px;
  border-radius: 8px;
}

.delete-button {
  background-color: #b13d3d;
  color: white;
  border-radius: 8px;
  width: 135px;
  margin-bottom: 17px;
  margin-top: 5px;
}

/*===========  Global Table CSS ============ */

.hire-order-table-headings,
.hire-item-table-headings,
.customer-table-headings {
  background-color: #2280bf;
}

.hire-order-table-headings h3,
.hire-item-table-headings h3,
.customer-table-headings h3 {
  color: white;
  letter-spacing: 2px;
}

.order-row:nth-child(even),
.hire-item-row:nth-child(even),
.customer-row:nth-child(even) {
  background: #e8e8e8;
}

/* ============== Global Pages ========== */

.banner {
  text-align: center;
}

/* ============= Hire Stock ============= */

.hire-item,
.customer {
  border: 1px solid white;
  margin: 1% 0;
  padding: 1% 0;
  text-align: center;
}

.hire-item a,
.customer a {
  color: inherit;
  text-decoration: none;
}

.hire-item-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.hire-item-col {
  display: flex;
}

.hire-item a:hover {
  text-decoration: underline;
}

.capitalize {
  text-transform: capitalize;
}
.hire-item-row .name,
.customer-row .name {
  font-size: 25px;
}

.hire-item-row p,
.customer-row p {
  font-size: 24px;
}

/*  ==================== Customers ============= */

.customer-page {
  text-align: center;
}

.name {
  font-size: 20px;
}

.customer-page p {
  font-size: 25px;
}

.customer-page .name {
  font-size: 46px;
}

.customer-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

.customer-table-headings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

.customer-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ============ Hire Stock =============== */

.hire-stock-page {
  text-align: center;
}

/* ============= Forms ================== */
.form-page-wrap h2,
.form-page-wrap h3 {
  text-align: center;
}

.form-element {
  margin: 20px 0px;
  text-align: center;
}

/* ================ Hire Orders =============== */

.order-heading {
  text-align: center;
}

.hire-item-table-headings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.hire-order-table-headings,
.order-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.order-col {
  text-align: center;
}

.new-order-page-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
}
