<div class="banner">
  <h1>Hire Orders</h1>
  <nav>
    <ul class = "secondary-nav">
      <li><a href="/hire-orders/new">New Order</a></li>
    </ul>
  </nav>
</div>


<div class="hire-orders">
  <% @hire_orders.each do |hire_item| %>

  <p class="capitalize name"><%= hire_item.customer.name %></p>
  <p class="capitalize name"><%= hire_item.hire_item.name %></p>

  <% end %>


</div>
