<div class="banner">
  <h1>Hire Orders</h1>
  <nav>
    <ul class = "secondary-nav">
      <li><a href="/hire-orders/new">New Order</a></li>
    </ul>
  </nav>
</div>


<div class="hire-orders">
  <h3>Name</h3>
  <h3>Item</h3>
  <h3>Price</h3>
  <h3>Start Date</h3>
  <% @hire_orders.each do |hire_order| %>

  <p class="capitalize name"><%= hire_order.customer.name %></p>
  <p class="capitalize name"><%= hire_order.hire_item.name %></p>
  <p class="capitalize name"><%= hire_order.hire_item.price %></p>
  <p class="capitalize name"><%= hire_order.start_date %></p>

  <% end %>


</div>
