<div class="banner">
  <h1>Hire Orders</h1>
  <nav>
    <ul class = "secondary-nav">
      <li><a href="/hire-orders/new">New Order</a></li>
    </ul>
  </nav>
</div>

<form class="" action="index.html" method="post">

</form>
<h3>Item which have been hired</h3>
