<div class="form-page-wrap">

  <h2>Add Item for Hire</h2>

  <form method="POST" action="/customers">
    <div class="form-wrapper">

      <div class="form-element">
        <label for="start_date">Start Date</label>
        <input type="date" name="start_date" id="start_date"/>
      </div>

      <div class="form-element">
        <label for="end_date">End Date</label>
        <input type="date" name="end_date" id="end_date">
      </div>

  <div class="form-el">
     <label for="customer_select">Select Customer:</label>
     <select name="customer_id" id="customer_select">
       <% @customers.each do |customer| %>
           <option value=<%= customer.id %>><%= customer.name.capitalize %></option>
       <% end %>
     </select>
   </div>



      <div class="form-element">
        <label for="phone">Phone</label>
        <input type="number" name="phone" id="phone"/>
      </div>

      <div class="form-element">
        <input type="submit" value="submit"/>
      </div>

    </div>
  </form>
</div>
