<h2>Add Customer</h2>
<form method="POST" action="/customers">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="first_name"/>
    </div>

    <div class="form-el">
      <label for="address">Address</label>
      <input type="text" name="address" id="address">
    </div>


    <div class="form-el">
      <label for="phone">Phone</label>
      <input type="number" name="phone" id="phone"/>
    </div>

  </div>
</form>
